PlayerHud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;

	> .playerlist {
		position: absolute;
		top: 32px;
		left: 32px;
		flex-direction: column;
		gap: 8px;

		> .playername {
			width: 256px;
			height: 64px;
			color: white;
			border-radius: 32px;

			> p {
				position: absolute;
				top: 50%;
				left: 32px;
				transform: translate(0%, -50%);
				font-weight: bold;
			}
		}
	}

	.movementbutton {
		position: absolute;
		bottom: 64px;
		width: 100px;
		height: 100px;
		backdrop-filter: blur(20px);
		backdrop-filter: brightness(0.5);
		border-radius: 26px;


		> p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			/*font-size: 48px;
			text-stroke: 3px black;*/



			font-size: 48px;
			text-stroke: 3px black;
		}
	}

	.buttonoutline {
		position: absolute;
		width: 100px;
		height: 100px;
		border-radius: 16px;
		border: 6px solid black;
	}


	> .jumpbuttonholder {
		position: absolute;
		bottom: 32px;
		width: 100%;
		justify-content: center;
	}

	> .movementbuttonpanel {
		position: absolute;
		bottom: 32px;
		left: 32px;
		flex-direction: column;
		gap: 8px;

		> .movementbuttonrow {
			width: 512px;
			height: 128px;
			color: white;
			border-radius: 32px;


			> .bottomrowbutton {
				position: absolute;
				bottom: 0px;
				transform: translate(-50%,0);
				width: 80px;
				height: 80px;
				backdrop-filter: blur(20px);
				backdrop-filter: brightness(0.3);
				border-radius: 16px;
				border: 0px solid black;

				> p {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 48px;
					text-stroke: 3px black;
				}
			}

			> .toprowbutton {
				position: absolute;
				left: 50%;
				bottom: 0px;
				transform: translate(-50%,0);
				width: 80px;
				height: 80px;
				backdrop-filter: blur(20px);
				backdrop-filter: brightness(0.3);
				border-radius: 16px;
				border: 0px solid black;
				//use borders to line up the outlines perfectly?


				> p {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					/*font-size: 48px;
			text-stroke: 3px black;*/



					font-size: 48px;
					text-stroke: 3px black;
				}
			}
		}
	}
}
