@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="playerlist">

        <p> @playerPawn.playerControllers.Count</p>


    </div>




    <div class="jumpbuttonholder">

        <div class="movementbutton">

            <p> 🦘 </p>

        </div>
        <div class="movementbutton">

            <p> 🦘 </p>

        </div>
        <div class="movementbutton">

            <p> 🦘 </p>

        </div>




    </div>



    <div class="movementbuttonsholder">

        <div class ="movementbuttons">

            <div class="movementbutton">
                <p> ☝️ </p>
            </div>

        </div>

        <div class="movementbuttons">

            <div class="movementbutton">
                <p> 👈 </p>
            </div>
            <div class="movementbutton">
                <p> 👇 </p>
            </div>
            <div class="movementbutton">
                <p> 👉 </p>
            </div>

        </div>

        <div class="bottomrowmovementholder">

            <div class="bottomrowbutton">
            </div>
            <div class="bottomrowbutton">
            </div>
            <div class="bottomrowbutton">
            </div>

        </div>

    </div>
	
</root>

@code
{

    [Property] PlayerPawn playerPawn { get; set; }

	protected override int BuildHash()
    
    {
        return System.HashCode.Combine(playerPawn.playerControllers);

    }
        
}
